{% extends 'main.html' %} 
{% block content %}

<div class="container contact-form">
    <form method="post">
        <h3>Téléversement des fichiers</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="card w-80">
                    <div class="card-header">
                        Fichiers
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for fiche in fiches_a_deplacer%}
                        <a class="nav-item nav-link" href="#">{{fiche}}</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="card w-80">
                        <div class="card-header">
                            Destinations
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            {% for nom in liste_des_destinations%}
                            <div class="d-flex justify-content-between">
                                <p> {{nom}} </p>
                                <button onclick="location.href='{% url 'efface_destination' nom %}'" type="button" class="btn btn-primary">X</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
                <form action="{% url 'page-televersement' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" title="Upload excel file" name="excel_file" style="border: 1px solid black; padding: 5px;" />
                    <p>
                        <input type="submit" value="Upload" style="border: 1px solid green; padding: 5px; border-radius: 2px; cursor: pointer;" />
                    </p>
                </form>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="col-md-12 text-center">
        <button onclick="location.href='{% url 'televerser_documents' %}'" type="button" class="btn btn-primary">Téléverser</button>
    </div>
</div>
{% if reussi %}
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">{{reussi}}</div>
</div>
{% endif %} 

{% endblock %}

