{% extends 'main.html' %}

{% block content %}

<div class="container contact-form">
        <h3>Changement de nom des documents</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="card w-80">
                    <div class="card-header">
                        Choisir le document a renommer
                    </div>
                    
                    <form action="{% url 'page-renommer' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" title="Upload excel file" name="file" style="border: 1px solid black; padding: 5px;" required="required" />
                        <p>
                            <input type="submit" value="Upload" style="border: 1px solid green; padding: 5px; border-radius: 2px; cursor: pointer;" />
                        </p>

                        <input name="nom_renommer" type="text" class="form-control" placeholder="Nouveau nom" required='required'>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card w-80">
                        <div class="card-header">
                            Documents à renommer
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for fiche in liste_des_paths%}
                            <a class="nav-item nav-link" > {{fiche}}</a>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>

    <div class="container">
        <div class="col-md-12 text-center">
            <button onclick="location.href='{% url 'renommer_fiches' %}'" type="button" class="btn btn-primary">renommer</button>
        </div>
    </div>

</div>


{% endblock %}